#platosfuertes{display: none;}
#ultimoscreen {display:none}
#segundoscreen{display: none}
#screenpostres{display:none}
#imagen{ position:fixed; right: 200px; top:20px;
     height: 200px ; width: 300px;
}
#imagen2{position:fixed; right: 200px; top:200px;
    height: 200px ; width: 300px;
}
#imagen3{position:fixed; right: 200px; top:400px;
    height: 200px ; width: 300px;
}
#boton1 { position:fixed; right: 40px; top: 60px; height:70px;
    width:90px; }
#boton2 { position:fixed; right: 40px; top: 250px; height:70px;
        width:90px; border: none;} 
#boton3 { position:fixed; right: 40px; top: 460px; height:70px;
            width:90px; border: none}
.linea1{ 
    border-right: 5px solid black;
    height: 581px;
    max-width: 2px;
    padding: 0;
    position:fixed; right: 500px; top: 20px;
}
#tituloscreen1{
    position: fixed; right: 780px; top:25px;
    font: small-caption ; font-size: x-large;
    font-variant: petite-caps;  
}
h1{
    position: fixed; right: 820px; top:1px;
    font: small-caption ; font-size: x-large;
    font-variant: petite-caps;  
}
#linea2{
    height: 100px;
    width: 800px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    position: fixed; top : 150px; left: 10px;
    font-size: xx-large; text-align: center;
}
#platofuerte{
    width: 250px; height: 50px;background-color:#D9BD89;
    position:fixed; right: 230px; top:90px;
    text-align: center; font-size: 45px;
}
#postre{
    width: 250px; height: 50px;background-color:#D9BD89;
    position:fixed; right: 230px; top:280px;
    text-align: center; font-size: 45px;
}
#bebidas{
    width: 250px; height: 50px;background-color:#D9BD89;
    position:fixed; right: 230px; top:480px;
    text-align: center; font-size: 45px;
}
#pedirhoy{
    height: 90px;
    width: 800px;
    position: fixed;
    top : 258px; left: 10px;
    background-color:#571006;
    font-family:garamond; font-style: italic;
    text-align: center ; font-size: 40px;
}
#horario{ position: fixed; right: 750px; bottom: 25px;
    font: small-caption ;
    font-size: x-large;
    font-variant: petite-caps;
}    
#seccionbebidas{display: none;}

#boton4{
    width: 100px;
    height:100px ;
    box-sizing: border-box;
    box-align: center;
    border: none; bottom: 40px; left: 100px; 
    position: absolute; 
    
}
#boton5{
    width: 100px;
    height:100px ;
    box-sizing: border-box;
    box-align: center;
    border: none;  bottom: 40px; right: 100px;
    position: absolute;
   

}

#boton6{
    width:150px ;
    height: 100px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    border: none;
    
}
#datos{background:#571006;
    
    width: 1200px; height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    position: center;
    background-color:black;
    border: 5px solid #571006;
    margin:0.5em auto;
    padding: 0.5em;

}
h4{text-align: center;
    font-size: 700;
    background:#571006;
    box-align: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Brush Script MT';
    color:white;
}
form{
    background: white ;
    padding: 40px 0;
    box-shadow: 0 0 6px o rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 500px;
    height:400px;
    display:none;
    position: relative;
    top:30px ;
    left: 350px;
}
.form{ width: 500px;
    height:600px ;
    margin: auto;
    position: center center;
    

}
form .nombre{
    position: relative;
    margin: 45px;   
}
form p{
    text-align: center;
}
#nombres{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border:none;
    border-bottom:1px solid;

}
#nombres1{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border:none;
    border-bottom:1px solid;
    
}
input:focus{
    outline:none;
    color: rgba(red, green, blue, alpha);
}
label{
    color:rgba(red, green, blue, alpha);
    font-size: 20px;
    position: absolute; 
}

*{
    margin: 0;
    padding: 0;
  }
  
  #contenedor{
    width: 1200px;
    height: 1600px;
    background-color:black;
    border: 5px solid #571006;
  /* desde la ventana*/
    margin:0.5em auto;
    /* desde dentro del bloque*/
    padding: 0.5em;
  
  }
  #titulo{
    height: 8%;
    background: #571006;
  
    margin:0.4em;
    border-radius: 0 20% / 0 100%;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Brush Script MT';
    font-size: 6em;
    color:white;
  
  
  }
  
  .plato{
  height: 24%;
  background-color:black;
  /* Arriba | Derecha | Abajo | Izquierda */
  margin:2em 2em 0em 2em;
  border: 2px  ;
  border-style: solid;
  border-top-color: transparent;
  border-left-color:transparent;
  border-right-color: transparent;
  border-bottom-color:white;
  }
  
  .atras{
    height: 6%;
  
    margin:1.5em 26em 0em 26em;
     border-radius: 70px;
      font-size: 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
    }
  
  
  #menu1{
    height: 90%;
    width: 62%;
    background-color: transparent;
    margin:1em;
    float: left;
  }
  #imagenplato1{
    height: 90%;
    width: 32%;
    background: #a07ad6;
    margin:1em;
    float: right;
    border: 1.5px solid black ;
  }
  .titulomenu1{
    height: 15%;
    width: 75%;
    background:#571006;
    /*sup-izq,sup-derehca,inderecha,infizq*/
    border-radius: 40px 0px 40px 0px;
      margin:0.5em 2em 0em ;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Brush Script MT';
      font-size: 2.5em;
  
      color: white;
  
  }
  .descripcionmenu{
    height: 45%;
    width: 85%;
    background:transparent;
    font-size: 20px;
    color:white;
      margin:0.7em 3em 0em 1.5em;
  
      display: flex;
      align-items: center;
      text-align: justify;
      padding-left: 1em;
      padding-right:1em;
      border: 2px;
      border-style: ridge;
  
      border-top-color: white;
      border-left-color:transparent;
      border-right-color: transparent;
      border-bottom-color:white;
  
  
    }
  .compramenu
    {
      height: 20%;
      width: 90%;
      background-color: transparent;
        margin:1em 3em 0em 3em;
      }
  .preciomenu{
    font-family: 'Trebuchet MS', sans-serif;
   font-size: 1em;
    height: 100%;
    width: 25%;
    background-color:white;
      float: left;
      margin:0em 1em 0em 5em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid black;
      border-radius:60px;
  
  }
  .comprar{
      font-family: 'Trebuchet MS', sans-serif;
     font-size: 1em;
    height: 100%;
    width: 35%;
    background-color:white;
      float: left;
      margin:0em 1em 0em 3em;
      display: flex;
        align-items: center;
        justify-content: center;
          border: 3px solid black;
          border-radius:60px;
  }
  /*HASTA AQUI EL MENU 1*/
  
  #menu2{
    height: 90%;
    width: 62%;
    background-color: transparent;
    margin:1em;
    float: right;
  }
  #imagenplato2{
    height: 90%;
    width: 32%;
    background: #a07ad6;
    margin:1em;
    float: left;
      border: 1.5px solid black ;
  }
  #titulomenu2{
    height: 15%;
    width: 75%;
      background: #571006;
    /*sup-izq,sup-derehca,inderecha,infizq*/
    border-radius: 0px 40px 0px 40px;
      margin:0.5em 2em 0em ;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Brush Script MT';
      font-size: 2.5em;
  
      color:white;
  }
  
  
  
  /*HASTA AQUI LA OPCION 2*/
  
  #menu3{
    height: 90%;
    width: 62%;
    background-color: transparent;
    margin:1em;
    float: left;
  }
  #imagenplato3{
    height: 90%;
    width: 32%;
    background: #a07ad6;
    margin:1em;
    float: right;
      border: 1.5px solid black ;
  }
  #botonpasar{ width: 90px;
    height: 70px;
  }
  #botonpasar2{width: 90px;
    height: 70px;
  }
  #botonpasar3{width: 90px;
    height: 70px;
  }
.devuelve{
    height: 70px;
    width: 130px;
    margin:1.5em 26em 0em 26em;
    border-radius: 70px;
    justify-content: center;
    background-color: white;
    position: fixed;
    top: 520px; right: 200px;
    text-align: center;  
}