
#ultimoscreen {display:none}
#segundoscreen{display: none}
#imagen{ position:fixed; right: 200px; top:60px;
     height: 200px ; width: 300px;
}
#imagen2{position:fixed; right: 200px; top:240px;
    height: 200px ; width: 300px;
}
#imagen3{position:fixed; right: 200px; top:440px;
    height: 200px ; width: 300px;
}
#boton1 { position:fixed; right: 40px; top: 60px; height:100px;
    width:150px}
#boton2 { position:fixed; right: 40px; top: 250px; height:100px;
        width:150px}
#boton3 { position:fixed; right: 40px; top: 450px; height:100px;
            width:150px}
.caja1{ 
    border-right: 5px solid black;
    height: 650px;
    max-width: 2px;
    padding: 0;
    position:fixed; right: 500px; top: 20px;
}
h1{
    position: fixed; right: 780px; top:1px;
    font-size: courier ;
    
    
}
#caja2{
    height: 100px;
    width: 800px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    position: fixed;
    top : 150px; left: 10px;
    font-size: xx-large;
    text-align: center;

}
#platofuerte{
    width: 250px; height: 50px;background-color: #F5F28E;
    position:fixed; right: 230px; top:120px;
    text-align: center; font-size: 45px;
}
#postre{
    width: 250px; height: 50px;background-color:#5DF5D7;
    position:fixed; right: 230px; top:320px;
    text-align: center; font-size: 45px;
}
#bebidas{
    width: 250px; height: 50px;background-color:#A269F5;
    position:fixed; right: 230px; top:520px;
    text-align: center; font-size: 45px;

}